.estiloCard{
    background: #009688;
    -webkit-box-shadow: 2px 15px 37px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 15px 37px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 15px 37px -10px rgba(0, 0, 0, 0.75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.imagen{
    height: 100%;
    width: 100%;
}