<app-admin-actividades></app-admin-actividades>

<div class="container pt-4 pb-4 fuente mx-lg-3 px-lg-3">
  <!--- Card desplegables para mostrar los usuarios registrados --->

    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-xl-3 h-100 mb-3" *ngFor="let registro of registrosResponse">

        <div class="card estiloCard">
          <img src="https://localhost:5001/api/imageRegistro/{{registro.ImagenPerfil}}" class="imagen">

          <div class="card-body">
            <p class="card-title"><b>RUT: </b> {{registro.Rut}}</p>
            <p class="card-title"><b>Nombre: </b> {{registro.Nombre}} </p>
            <p class="card-title"><b>Apellidos: </b>{{registro.ApPaterno}} {{registro.ApMaterno}}</p>
            <p class="card-title"><b>Correo: </b>{{registro.Correo}}</p>
            <p class="card-title"><b>Teléfono: </b> {{registro.Telefono}}</p>
          </div>
          <div class="offset-8 offset-sm-7">
            <button class="btn btn-danger">Eliminar</button>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
