<app-admin-actividades></app-admin-actividades>

<div class="container pt-4 pb-4 fuente mx-lg-3 px-lg-3">

  <div class="container" >
    <div class="row m-md-2 m-lg-3">
      <div class="col-1 col-sm-3 col-md-1">
        <!-- Boton para llamar al collapse-->
        <button class="btn estiloBoton " href="#MyCollapse" data-toggle="collapse" id="llamarCollapse">Agregar</button>
        <!--Fin boton que llama al collapse-->
      </div>
      <!-- Boton para abrir lista desplegable-->
      <div class="dropdown col-1 offset-6 col-md-1 offset-md-10"  > 
          <button class="btn estiloBoton dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Editar
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  >
            <!--lista desplegable y llamada al modal-->
            <a class="dropdown-item" *ngFor="let editarAct of actividadResponse" data-toggle="modal" data-target="#editarActividadesModal"
            (click)="traerActividadPorId(editarAct.Idactividades)">{{editarAct.Nombreactividad}}</a>
          </div>
        </div>
        <!-- Fin Dropdown-->
    </div>
  </div>
  <!------------------------- Collapse ----------------------------->

  <div class="collapse pt-4 clearfix" id="MyCollapse">
    <div class="col-mb-6 float-left">

      <!------------------------------Comienzo formulario-------------------------->

      <form [formGroup]="crearActividadForm" class="shadow p-3" autocomplete="off">

        <div class="form-group">
          <label>Nombre Actividad</label>
          <input type="text" placeholder="Ingrese actividad" class="form-control" formControlName="nombreActividad" required>
        </div>
        <div class="form-group">
          <label>Descripción Actividad</label>
          <textarea rows="5" type="text" placeholder="Ingrese una breve descripción" class="form-control"
            formControlName="descripActividad" required></textarea>
        </div>
        <div class="form-group">
          <label>Imagen Actividad</label>
          <div class=custom-file>
            <input type="file" (change)="UpdateControls($event)" class="custom-file-input"
              formControlName="imagenActividad" required>
            <label class="custom-file-label labelNombreImagen" data-browse="Elegir Imagen">{{FileName}}</label>
          </div>
        </div>
        <div class="form-group">
          <button class="btn estiloBoton" (click)="creacionDeActividades()">Aceptar</button>
        </div>
      </form>
      <!------------------------------Fin formulario-------------------------->      
    </div>

    <!--vista previa de la imagen seleccionada-->
    <div >
      <img [src]="ImagenURL" class="imagenVistaPrevia ml-sm-5 sombraImagen">
    </div>
  </div>

  <!--------------------------- Fin Collapse ---------------------------->


  <!---------------- Modal para modificar las actividades ----------------->

  <!-- Modal -->
  <div class="modal fade" id="editarActividadesModal" tabindex="-1" role="dialog"
    aria-labelledby="editarActividadesModal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarActividadesModal">Editar Actividad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-2">

          <!------  Inicio en el formulario para editar ---------------->
          <form [formGroup]="modificarActividadForm" class="shadow p-3" autocomplete="off">

            <div class="form-group">
              <label>Nombre Actividad</label>
              <input type="text" placeholder="Ingrese actividad" class="form-control" formControlName="editarNombreActividad">
            </div>
            <div class="form-group">
              <label>Descripción Actividad</label>
              <textarea rows="5" type="text" placeholder="Ingrese una breve descripción" class="form-control"
                formControlName="editarDescripActividad"></textarea>
            </div>
            
            <div class="form-group">
              <label>Imagen Actividad</label>
              <div class=custom-file>
                <input type="file" (change)="updateImagenAEditar($event)" class="custom-file-input"
                  formControlName="editarImagenActividad">
                <label class="custom-file-label labelNombreImagen" data-browse="Elegir Imagen">{{FileNameEditar}}</label>
              </div> 
            </div>
          </form>
          <!------------------------------Fin formulario-------------------------->
        </div>

        <!--vista previa de la imagen seleccionada-->
        
        <div class="col-12 float p-2 p-md-2">
          <img *ngIf="ImagenURLeditar" [src]="ImagenURLeditar" class="imagenVistaPreviaModal sombraImagen m-0 p-1 p-md-2 m-md-2">
        </div> 

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn estiloBoton" (click)="modificarActividad()">Guardar Cambios</button>
        </div>

      </div>
    </div>
  </div>

  <!-----------------------------Fin Modal ------------------------------->




</div>


<!--- Card desplegables para mostrar las actividades --->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 h-100 mb-3" *ngFor="let actividad of actividadResponse">

      <div class="card estiloCard">
        <img src="https://localhost:5001/api/image/{{actividad.Imagenactividad}}" class="imagen">
        <div class="card-body">
          <h5 class="card-title">{{actividad.Nombreactividad}}</h5>
          <p class="card-text">{{actividad.Descripactividad}}</p>
        </div>
        <div class="offset-8 offset-sm-7">
          <button class="btn btn-danger" (click)="eliminarActividad(actividad.Idactividades)">Eliminar</button>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>