<br>
<br>
<br>
<div class="container ">
  <div class="row formulario ">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <form [formGroup]="inicioSesionForm" class="default-primary-color bordeForm m-1 p-1">
        <div class="form-group m-2">
          <label class="alinearLabel text-primary-color">Rut</label>
          <input minlength="9" maxlength="12" formControlName="rutAdmin" [value]="inicioSesionForm.get('rutAdmin').value | rut " placeholder="Ingrese su Rut"  class="form-control inputText">
        </div>
        <div class="form-group m-2">
          <label class="alinearLabel text-primary-color">Contraseña</label>
          <input formControlName="password" type="password" placeholder="Ingrese su contraseña" class="form-control inputText">
        </div>
        <br>
        <div class="mx-2 my-2 d-flex flex-row-reverse ">          
          <button class="btn btn-secondary mb-2" (click)="ingresoSesion()">Ingresar</button>
        </div>
        
      </form>
    </div>
  </div>
</div>