<nav class="navbar navbar-expand-sm bg-info navbar-dark d-flex justify-content-around" >
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle fuente" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Mantenedor Actividades
      </a>
      <div class="dropdown-menu fuente" aria-labelledby="navbarDropdown">
        <a class="dropdown-item fuente" (click)="agregarAct()">Administrar</a>
        <!--<a class="dropdown-item fuente" (click)="modificarAct()">Modificar</a> -->
        <!--<div class="dropdown-divider"></div>
        <a class="dropdown-item fuente" href="#">Eliminar</a> -->
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle fuente" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Mantenedor Usuarios
      </a>
      <div class="dropdown-menu fuente" aria-labelledby="navbarDropdown">
        <!--<a class="dropdown-item fuente" href="#">Agregar</a>
        <a class="dropdown-item fuente" href="#">Modificar</a>
        <div class="dropdown-divider"></div> -->
        <a class="dropdown-item fuente" (click)="eliminarRegistrosUsuarios()">Eliminar</a>
      </div>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-secondary my-2 my-sm-0" (click)="cerrarSesion()">Cerrar Sesión</button>
  </form>
</nav>